[alias]
    la = config --get-regexp alias
    pr = pull --rebase
    co = checkout
    cm = commit -m
    st = status
    ri = rebase --interactive
    ra = rebase --abort
    rc = rebase --continue
    re = rebase
    cp = cherry-pick
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -30
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    cmfix = commit --amend --no-edit
[user]
	name = Jim Wang
	email = jim.gs.wang@gmail.com
[push]
	default = simple
[core]
	pager = less -erX
[color]
	ui = auto
