set ignorecase
set smartcase
set relativenumber
set number
set scrolloff=5
set hlsearch
set surround

let mapleader = " "
nnoremap <leader>c :action GotoClass<CR>
nnoremap <leader>e :action RecentFiles<CR>
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>r :action Run<CR>
nnoremap <leader>x :action GotoNextError<CR>
nnoremap <leader>' :action ShowBookmarks<CR>
nnoremap <leader>m :action ToggleBookmarkWithMnemonic<CR>`
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>h :noh<CR>
nnoremap <leader>v <C-v>
nnoremap <leader><S-x> :action GotoPreviousError<cr>
nnoremap <C-D> <C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E><C-E>
nnoremap <C-U> <C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y><C-Y>
nnoremap ZZ :action EditorSelectWord<CR> 
nnoremap 0 ^
nnoremap ^ 0
nnoremap \ :noh<CR>

" git / github
nnoremap <leader>Gbrowse :action Github.Open.In.Browser<CR>
nnoremap <leader>Gann :action Annotate<CR> :action Annotate<CR>

inoremap <C-j> <Down>
inoremap <C-k> <Up>

nnoremap <C-L> <C-W>l
nnoremap <C-H> <C-W>h

